<tr><td>
<div class="nav">
<a href="/products/dmx-fixture/">DMX FIXTURE</a> &raquo; DMX AMPLIFIER/SPLITTER
</div>
<div class="nav" style="border-bottom: 1px dotted #000;">
<a class="subcat" href="/products/dmx-fixture/dmx-amplifier-splitter/DSA-S.html" title="DSA-S">DSA-S</a>
</div>
</td></tr>
