<tr><td>
<div class="nav">
<a href="/products/controller/">CONTROLLER</a> &raquo; DMX CONTROLLER
</div>
<div class="nav" style="border-bottom: 1px dotted #000;">
<a class="subcat" href="/products/controller/dmx-controller/DMX_192CH.html" title="DMX 192CH">DMX 192CH</a>
</div>
</td></tr>
