---
permalink: /about/

description: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

keywords: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

title: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
    <tr><td>
      <div>
        <img src="/images/about_us_bd1.jpg" id="image1" style="">
      </div>
    </td></tr>
    <tr><td>
      <div class="nav">
        <a href="/about/">About Us</a>
      </div>
    </td></tr>
    <tr><td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td height="34" rowspan="3" width="3%">
              &nbsp;</td>
            <td width="94%">
              &nbsp;</td>
            <td rowspan="3" width="3%">
              &nbsp;</td>
          </tr>
          <tr>
            <td>
              <p>
                &nbsp;</p>
              <table cellpadding="0" cellspacing="0" height="833" width="620">
                <!-- MSTableType="layout" -->
                <tbody>
                  <tr>
                    <td width="20">
                      &nbsp;</td>
                    <td valign="top" width="580">
                      &nbsp;
                      <p align="center">
                        <font face="Verdana"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="4">MICZE&nbsp;INTERNATIONAL GROUP LIMITED</font></b></font></p>
                      <p align="center">
                        <b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">MICZE LED LIGHTING &amp; ELECTRON FACTORY</font></b></p>
                      <p>
                        <font face="Arial">21st century, the human society is developing rapidly, however, at the same time we can't ignore the intensity of the resources. Environmental protected and the usage of high efficiency material is the target of the worldwide. MICZE LED Lighting attempt to explore and innovate in the application of the luminescence, in order to achieve a better environmental protected and high efficiency lighting, he is making his effort continuously. With many years of LED research and design experience and a group of excellent technical staff we enter into the LED Lighting area.</font></p>
                      <p>
                        <font face="Arial">With rich and good experience in the decorative lighting field, many customers successfully enjoy more market shares with us in their areas around the world. As a professional manufacturer and distributor, we enjoy high reputation for our continue efforts and the progress we made in innovative products and perfect quality control.We will dedicate ourselves to offer the world more beautiful decorative lighting products. Our advantages and principles will guarantee the success for both of us.</font></p>
                      <p>
                        <font face="Arial"><strong>Reliable and Classic Service</strong> -<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;a. Prompt delivery - Whenever and wherever you place the orders with us,your requirement for soonest delivery will be guaranteed. Our strong production capacity supports our management perfectly.<br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;b. Convenient Transportation Sources - The facilities and construction for cargo transportation both by Air and by Sea are very good either in Shenzhen, Guangzhou or in Hong Kong.Our professional employees and Forwarders are good at the soonest arrangement for our clients. we can make good use the advantages to arrange the shipment to any places in the world properly and promptly..<br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;c. Warm-hearted and Efficient Team-work - You will receive the answers from us for your questions either by faxes or by e-mail within 12 hours at any places of the world. Moreover you will be satisfied with our technical assistance and flexible sales policy.<br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;d. Continue Innovative Products - You will not be confused when your customers hope you to distribute new products from time to time. We are doing as you hope!<br>
                        <br>
                        <strong>The Most Competitive Prices</strong> - Our overseas business partners found that we at KARNAR can always support them by supplying the most competitive prices products. It is the base for longterm business relationship. </font></p>
                    </td>
                    <td height="799" width="20">
                      &nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <p>
                &nbsp;</p>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;</td>
          </tr>
        </tbody>
      </table>
    </td></tr>
  </table>
</div>
