---
permalink: /contact/

description: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

keywords: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

title: "MICZE LED LIGHTING FACTORY- LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
    <tr><td>
      <div>
        <img src="/images/contact_us_bd1.gif" id="image1" style="">
      </div>
    </td></tr>
    <tr><td>
      <div class="nav">
        <a href="/contact/">Contact Us</a>
      </div>
    </td></tr>
    <tr><td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td background="img/naBialym.gif" colspan="3" height="1">
              <img height="1" src="img/1x1_pix.gif" width="620"></td>
          </tr>
          <tr>
            <td colspan="3" height="37">
              &nbsp;</td>
            <td height="41">
              &nbsp;</td>
          </tr>
          <tr>
            <td height="87" valign="top">
              <p align="center">
                <span style="font-size:26px;"><font face="Arial Black">MICZE INTERNATIONAL GROUP LTD</font></span></p>
              <p align="center">
                <font face="Arial" size="3">FOSHAN MICZE LED LIGHTING &amp; ELECTRON FACTORY</font></p>
            </td>
          </tr>
          <tr>
            <td height="29">
              &nbsp;</td>
          </tr>
          <tr>
            <td height="171" valign="top">
              <p align="center">
                <span style="font-size:22px;"><b><font face="Arial">MICZE LED LIGHTING &amp; ELECTRON FACTORY</font></b></span><br>
                &nbsp;</p>
              <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEL</b>: 86-757-2638 0222 &nbsp;&nbsp;</font></span><br>
                &nbsp;</p>
              <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FAX</b>: 86-757-2888 7590</font></span><br>
                &nbsp;</p>
<<<<<<< HEAD
			  <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WEBSITE</b>: <a href="http://www.micze.com/">www.micze.com</a></font></span><br>
                &nbsp;</p>
			  <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-MAIL</b>: <a href="mailto:sales@micze.com" style="font-family: Arial; font-size: 16px; ">sales@micze.com</a><span style="font-family: Arial; font-size: 16px; ">&nbsp; (Sales dept.)&nbsp; </span><br>
				&nbsp;</p>
 			  <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img border="0" src="/images/wechat.jpg">Wechat</b>: 86-1380 268 1150</font></span><span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img border="0" src="/images/whatsapp.jpg">WhatsApp</b>: 86-1380 268 1150</font></span><br>
                &nbsp;</p>
=======
              <p>
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WEBSITE</b>: <a href="http://www.micze.com/">www.micze.com</a></font></span><br>
                <br>
                <br>
                <b style="font-family: Arial; font-size: 14px; ">&nbsp; &nbsp; &nbsp; &nbsp; E-MAIL</b><span style="font-family: Arial; font-size: 14px; ">: </span><a href="mailto:sales@micze.com" style="font-family: Arial; font-size: 14px; ">sales@micze.com</a><span style="font-family: Arial; font-size: 14px; ">&nbsp; (Sales dept.)&nbsp; </span><a href="mailto:engineer@micze.com" style="font-family: Arial; font-size: 14px; ">engineer@micze.com</a><span style="font-family: Arial; font-size: 14px; ">&nbsp;&nbsp; (Technic dept.)</span></p>
>>>>>>> 67a31881b9e98f670a33f3729b8f61aaa65e28b5
            </td>
          </tr>
          <tr>
            <td height="51" width="620">
              &nbsp;</td>
          </tr>
        </tbody>
      </table>
      <form action="http://www.micze.com/mail/" method="POST" onsubmit="document.getElementById('submit').value='Submitting...';document.getElementById('submit').disabled=true;">
        <div style="padding:30px;">
          <table border="0">
            <tbody>
              <tr>
                <td>
                  First Name <font color="red">*</font></td>
                <td>
                  <input name="firstname" /></td>
              </tr>
              <tr>
                <td>
                  Last Name <font color="red">*</font></td>
                <td>
                  <input name="lastname" /></td>
              </tr>
              <tr>
                <td>
                  Company</td>
                <td>
                  <input name="company" /></td>
              </tr>
              <tr>
                <td>
                  E-Mail <font color="red">*</font></td>
                <td>
                  <input name="email" /></td>
              </tr>
              <tr>
                <td>
                  Website</td>
                <td>
                  <input name="website" /></td>
              </tr>
              <tr>
                <td>
                  Country</td>
                <td>
                  <select name="country">
                    <option selected="selected" value="">Please choose a country</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Canada">Canada</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Croatia (Hrvatska)">Croatia (Hrvatska)</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Greece">Greece</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Korea">Korea</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malta">Malta</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Norway">Norway</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Panama">Panama</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Romania">Romania</option>
                    <option value="Russian Federation">Russian Federation</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Viet Nam">Viet Nam</option>
                    <option value="Yugoslavia">Yugoslavia</option>
                    <option value="Others">Others</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Telephone</td>
                <td>
                  <input name="telephone" /></td>
              </tr>
              <tr>
                <td>
                  Fax</td>
                <td>
                  <input name="fax" /></td>
              </tr>
              <tr>
                <td>
                  Message <font color="red">*</font></td>
                <td>
                  <textarea cols="50" name="content" rows="6"></textarea></td>
              </tr>
              <tr>
                <td>
                  &nbsp;</td>
                <td>
                  <input type="submit" value="Submit" id="submit" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </td></tr>
  </table>
</div>
