---
permalink: /contact/
---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
    <tr><td>
      <div>
        <img src="/images/contact_us_bd1.gif" id="image1" style="">
      </div>
    </td></tr>
    <tr><td>
      <div class="nav">
        <a href="/contact/">Contact Us</a>
      </div>
    </td></tr>
    <tr><td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td background="img/naBialym.gif" colspan="3" height="1">
              <img height="1" src="img/1x1_pix.gif" width="10"></td>
          </tr>
          <tr>
            <td colspan="3" height="37">
              &nbsp;</td>
            <td height="41">
              &nbsp;</td>
          </tr>
          <tr>
            <td height="87" valign="top">
              <p align="center">
                <span style="font-size:26px;"><font face="Arial Black">MICZE INTERNATIONAL GROUP LTD</font></span></p>
              <p align="center">
                <font face="Arial" size="3">FOSHAN MICZE LED LIGHTING &amp; ELECTRON FACTORY</font></p>
            </td>
          </tr>
          <tr>
            <td height="29">
              &nbsp;</td>
          </tr>
          <tr>
            <td height="171" valign="top">
              <p align="center">
                <span style="font-size:22px;"><b><font face="Arial">MICZE LED LIGHTING &amp; ELECTRON FACTORY</font></b></span><br>
                &nbsp;</p>
              <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEL</b>: 86-757-2638 0222 &nbsp;&nbsp;</font></span><br>
                &nbsp;</p>
              <p align="left">
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FAX</b>: 86-757-2888 7590</font></span><br>
                &nbsp;</p>
              <p>
                <span style="font-size:16px;"><font face="Arial"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WEBSITE</b>: <a href="http://www.micze.com/">www.micze.com</a></font></span><br>
                <br>
                <br>
                <b style="font-family: Arial; font-size: 14px; ">&nbsp; &nbsp; &nbsp; &nbsp; E-MAIL</b><span style="font-family: Arial; font-size: 14px; ">: </span><a href="mailto:sales@micze.com" style="font-family: Arial; font-size: 14px; ">sales@micze.com</a><span style="font-family: Arial; font-size: 14px; ">&nbsp; (Sales dept.)&nbsp; </span><a href="mailto:engineer@micze.com" style="font-family: Arial; font-size: 14px; ">engineer@micze.com</a><span style="font-family: Arial; font-size: 14px; ">&nbsp;&nbsp; (Technic dept.)</span></p>
            </td>
          </tr>
          <tr>
            <td height="51" width="620">
              &nbsp;</td>
          </tr>
        </tbody>
      </table>
      <iframe src="https://docs.google.com/forms/d/1hECxU03RkzGW4o6HigxmLlvHxeETko-UYUWkRINUfyc/viewform?embedded=true" width="620" height="860" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </td></tr>
  </table>
</div>
