---
permalink: /
---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
{{{include "../products.产品/led-decorative/led-event-light/slide.hbs"}}}
{{{include "../products.产品/led-decorative/led-event-light/header.hbs"}}}
    <tr><td>
{{{include "../products.产品/led-decorative/led-event-light/AURORA_smart.html"}}}
    </td></tr>
  </table>
</div>
