---
permalink: /oem-service/
---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
    <tr><td>
      <div>
        <img src="/images/oem_service_bd1.jpg" id="image1" style="">
      </div>
    </td></tr>
    <tr><td>
      <div class="nav">
        <a href="/oem-service/">OEM SERVICE</a>
      </div>
    </td></tr>
    <tr><td>
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td height="34" rowspan="3" width="3%">
                &nbsp;</td>
              <td width="94%">
                &nbsp;</td>
              <td rowspan="3" width="3%">
                &nbsp;</td>
            </tr>
            <tr>
              <td>
                <p>
                  &nbsp;</p>
                <table cellpadding="0" cellspacing="0" height="512" width="620">
                  <!-- MSTableType="layout" -->
                  <tbody>
                    <tr>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td height="16">
                        &nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td valign="top">
                        <img alt="" border="0" height="150" hspace="0" src="/images/oem_service_demo1.jpg" style="FILTER: ; WIDTH: 200px; HEIGHT: 150px" width="200"></td>
                      <td>
                        &nbsp;</td>
                      <td valign="top">
                        <img alt="" border="0" height="150" hspace="0" src="/images/oem_service_demo2.jpg" style="FILTER: ; WIDTH: 200px; HEIGHT: 150px" width="200"></td>
                      <td>
                        &nbsp;</td>
                      <td height="150">
                        &nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td height="20">
                        &nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;</td>
                      <td>
                        &nbsp;</td>
                      <td valign="top">
                        <img alt="" border="0" height="150" hspace="0" src="/images/oem_service_demo3.jpg" style="FILTER: ; WIDTH: 200px; HEIGHT: 150px" width="200"></td>
                      <td>
                        &nbsp;</td>
                      <td valign="top">
                        <img alt="" border="0" height="150" hspace="0" src="/images/oem_service_demo4.jpg" style="FILTER: ; WIDTH: 200px; HEIGHT: 150px" width="200"></td>
                      <td>
                        &nbsp;</td>
                      <td height="150">
                        &nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;</td>
                      <td width="41">
                        &nbsp;</td>
                      <td width="201">
                        &nbsp;</td>
                      <td width="97">
                        &nbsp;</td>
                      <td width="200">
                        &nbsp;</td>
                      <td width="34">
                        &nbsp;</td>
                      <td height="41">
                        &nbsp;</td>
                    </tr>
                    <tr>
                      <td width="21">
                        &nbsp;</td>
                      <td colspan="5" valign="top">
                        <font face="Arial"><strong>The Most Competitive Prices</strong> - Our overseas business partners found that MICZE can always support them by supplying the most competitive prices products. It is the base for longterm business relationship. </font>
                        <p>
                          <font face="Arial"><b>Work For Coustomerlized</b> -&nbsp; </font>We will try our best to satify with the coustomers' requires to manufacture the lights. Also,<font face="Arial">we can do the factory package, customerlized package, OEM package for the&nbsp; all coustomers</font>.</p>
                      </td>
                      <td height="135" width="26">
                        &nbsp;</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  &nbsp;</p>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;</td>
            </tr>
          </tbody>
        </table>
    </td></tr>
  </table>
</div>
