---
permalink: /photos/

description: "MICZE LED LIGHTING FACTORY-LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

keywords: "LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

title: "LED WALL WASHER, LED PAR64, LED STAGE LIGHT, LED DANCING FLOOR, LED FLEXIBLE STRIP, LED POOL LIGHT, LED FOUNTAIN LIGHT, LED FLOODLIGHT, LED SPOTLIGHT, LED BULD, LED CONTROLLER"

---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
{{{include "../products.产品/led-decorative/slide.hbs"}}}
    <tr><td>
      <div class="nav">
        <a href="/photos/">PRODUCT PHOTO</a>
      </div>
    </td></tr>
    <tr><td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td height="34" rowspan="3" width="3%">
              &nbsp;</td>
            <td width="94%">
              &nbsp;</td>
            <td rowspan="3" width="3%">
              &nbsp;</td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" height="7747" width="620">
                <tbody>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td height="12">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267648499617635873%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="20">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267757948698397649%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td height="18">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267698783137536145%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td>
                      &nbsp;</td>
                    <td height="18">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267696200305005185%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="412">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="24">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;captions=1&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5504084910216734689%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="24">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414252712853278865%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="31">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5271332104244177425%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="21">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414250347330078545%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="40">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414259317181275889%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="30">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267940271428095601%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="23">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414258793400552465%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="406">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="22">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;captions=1&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5543739351401224817%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="38">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;captions=1&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5270349921517800257%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="30">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414258112568084065%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="408">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="35">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414257381244277025%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="29">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5414252268868919937%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="402">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="28">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td colspan="3" valign="top">
                      <embed flashvars="host=picasaweb.google.com&amp;noautoplay=1&amp;hl=zh_CN&amp;feat=flashalbum&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2FDanielHuangcn%2Falbumid%2F5267581490785139105%3Falt%3Drss%26kind%3Dphoto%26hl%3Dzh_CN" height="400" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" type="application/x-shockwave-flash" width="600">　</td>
                    <td height="410">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td>
                      　</td>
                    <td height="28">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;</td>
                    <td>
                      　</td>
                    <td valign="top">
                      <embed allowfullscreen="true" allowscriptaccess="always" height="385" src="http://www.youtube.com/v/YBJKkpgCcTs&amp;hl=zh_CN&amp;fs=1&amp;" type="application/x-shockwave-flash" width="480">　</td>
                    <td>
                      　</td>
                    <td height="387">
                      &nbsp;</td>
                  </tr>
                  <tr>
                    <td width="4">
                      &nbsp;</td>
                    <td width="61">
                      　</td>
                    <td width="480">
                      　</td>
                    <td width="69">
                      　</td>
                    <td height="27" width="6">
                      &nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;</td>
          </tr>
        </tbody>
      </table>
    </td></tr>
  </table>
</div>
