---
permalink: /products/
---
<div class="box_main" id="box_main">
  <table border="0" cellspacing="0" cellpadding="0" width="620">
{{{include "../products.产品/led-decorative/slide.hbs"}}}
<tr><td>
  <div class="nav">
    <a href="/products/">PRODUCT CENTER</a>
  </div>
</td></tr>
    <tr><td>
      <ul style="margin: 0 5px; padding: 20px 50px;">
        <li>
          <a href="/products/led-decorative/">LED DECORATIVE SERIES</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/led-decorative/led-wall-washer/">LED WALL WASHER LIGHT</a></li>
			<li><a href="/products/led-decorative/led-event-light/">LED EVENT LIGHT</a></li>
            <li><a href="/products/led-decorative/led-par-64/">LED PAR 64</a></li>
            <li><a href="/products/led-decorative/led-stage-light/">LED STAGE LIGHT</a></li>
            <li><a href="/products/led-decorative/led-neon-tube/">LED NEON TUBE</a></li>
            <li><a href="/products/led-decorative/led-wall-panel/">LED WALL PANEL</a></li>
            <li><a href="/products/led-decorative/led-dancing-floor/">LED DANCING FLOOR</a></li>
            <li><a href="/products/led-decorative/led-flexible-strip/">LED FLEXIBLE STRIP</a></li>
            <li><a href="/products/led-decorative/led-neon-flex/">LED NEON FLEX</a></li>
            <li><a href="/products/led-decorative/led-pool-light/">LED POOL LIGHT</a></li>
            <li><a href="/products/led-decorative/led-fountain-light/">LED FOUNTAIN LIGHT</a></li>
            <li><a href="/products/led-decorative/led-underground-light/">LED UNDERGROUND LIGHT</a></li>
			<li><a href="/products/led-decorative/flashing-light/">FLASHING LIGHT</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/led-illumination/">LED ILLUMINATION</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/led-illumination/led-floodlight/">LED FLOODLIGHT</a></li>
            <li><a href="/products/led-illumination/led-lamp-series/">LED LAMP SERIES</a></li>
            <li><a href="/products/led-illumination/led-bulb/">LED BULB</a></li>
            <li><a href="/products/led-illumination/led-ceiling-light/">LED CEILING LIGHT</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/led-power-supply/">LED POWER SUPPLY</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/led-power-supply/led-power-supply/">LED POWER SUPPLY</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/controller/">CONTROLLER</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/controller/dmx-controller/">DMX CONTROLLER</a></li>
            <li><a href="/products/controller/rgb-controller/">RGB CONTROLLER</a></li>
            <li><a href="/products/controller/digital-controller/">DIGITAL CONTROLLER</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/dmx-fixture/">DMX FIXTURE</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/dmx-fixture/dmx-amplifier-splitter/">DMX AMPLIFIER/SPLITTER</a></li>
            <li><a href="/products/dmx-fixture/dmx-wireless-transmiter/">DMX WIRELESS TRANSMITER</a></li>
          </ul>
        </li>
        <li>
          <a href="/products/accessory-fixture/">ACCESSORY FIXTURE</a>
          <ul style="margin: 0 5px; padding: 20px 50px;">
            <li><a href="/products/accessory-fixture/led-par56-housing/">LED PAR56 HOUSING</a></li>
          </ul>
        </li>
      </ul>
    </td></tr>
  </table>
</div>
