<tr><td>
<div class="nav">
<a href="/products/controller/">CONTROLLER</a> &raquo; DIGITAL CONTROLLER
</div>
<div class="nav" style="border-bottom: 1px dotted #000;">
<a class="subcat" href="/products/controller/digital-controller/DIGITAL_CONTROLLER.html" title="DIGITAL CONTROLLER">DIGITAL CONTROLLER</a>
</div>
</td></tr>
