<tr><td>
<div class="nav">
<a href="/products/controller/">CONTROLLER</a> &raquo; RGB CONTROLLER
</div>
<div class="nav" style="border-bottom: 1px dotted #000;">
<a class="subcat" href="/products/controller/rgb-controller/RGB_CONTROLLER.html" title="RGB CONTROLLER">RGB CONTROLLER</a>
</div>
</td></tr>
